APP_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_NAME=lynx_app_center
DB_USER=root
DB_PASSWORD=""
ADDRESS=http://localhost
PHPMAILER_HOST=smtp.example.com
PHPMAILER_USERNAME=""
PHPMAILER_PASSWORD=""
PHPMAILER_PORT=587
PHPMAILER_FROM_EMAIL=LynxApp@lynx.com
PHPMAILER_FROM_NAME=LynxApp
